.root{
 -fx-background-image: url("assets/customer/profileset/bg.png");
 -fx-background-size: 670px 480px;
}
.button{
    -fx-background-color:transparent 
}

.text-field{
    -fx-background-color: #D9D9D9;
}

.save{
    -fx-background-color: #365C89;
     -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-color: #ffffff;
}